.header{
    background-color: white;
    margin: 0 20%;
}

h2,h4{
    text-align: center;
    padding: 50px 0 25px 0;
    color:darkslategray;
}
h1{
    color: darkblue;
    background-color: white;
    text-align: center;
    margin: 0 20%;
    padding-top: 50px;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 100px;
    max-height: 50vh;

}
.recipe{
    margin: 2% 20% 10% 20%;
    background-color: white;
    padding: 5%;
    
}
body{
    background-image: url('kwiaty');
    background-repeat: no-repeat;
    background-size: cover;

    
}

a{
    text-align: center;
}
.main{
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin: 2% 20% 10% 20%;
    padding: 10%;
    
}
ul.list{  list-style-type: none;}